* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.btn_primary {
    cursor: pointer;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 12px;
    font-size: 1rem;
    font-family: inherit;
    background: var(--primary);
    color: var(--black);
    border: 1px solid transparent;
    transition: 0.3s ease all;

    &:hover {
      border-color: var(--primary);
      background: rgba(var(--primary), 0.1);
      color: var(--primary);
    }

    &:active {
      border-color: var(--primary);
      background: linear-gradient(
        rgba(var(--primary), 0.2),
        rgba(var(--primary), 0.3)
      );
      color: var(--primary);
    }
  }